div#ClassicBar,form{
    justify-content:space-between
}
.box-name,.feedback,h2{
    font-family:Mulish,sans-serif
}
.backdrop,textarea[name=Classic]{
    transition:transform 1s;
    z-index:1
}
.backdrop,div#Classic2{
    position:absolute;
    pointer-events:none
}
.box-name,.feedback,div.copy,h2{
    text-align:center;
    color:#fff
}
#ClassicBar input[type=reset],#UnicodeBar input[type=reset],.box-name,.feedback,div.copy,h2{
    color:#fff
}
*,.text-box,::after,::before,textarea{
    box-sizing:border-box
}
.box-name,a,h2{
    font-weight:600
}
a,a:active{
    text-decoration:none
}
@font-face{
    font-family:sutonny;
    src:url('../fonts/Sutonny.ttf')
}
@font-face{
    font-family:sutonnyOmj;
    src:url('../fonts/SutonnyOmj.ttf')
}
*,::after,::before{
    margin:0;
    padding:0
}
.backdrop{
    border:2px solid transparent;
    background-color:transparent;
    overflow:none
}
body{
    background:linear-gradient(50deg,#004c84 1%,#2d0e5e 87%,#2586a7 15%)
}
.main{
    display:grid;
    height:105vh;
    background:linear-gradient(124deg,#004c84 1%,#2d0e5e 87%,#2586a7 15%)
}
h2{
    padding:1rem
}
.feedback{
    position:absolute;
    top:12px;
    right:12px;
    width:7vw;
    aspect-ratio:2.5;
    border-radius:8px;
    background:#198cb2;
    font-size:1vw;
    line-height:2.5vw;
    letter-spacing:.5px
}
.feedback span{
    vertical-align:middle
}
.page-title{
    font-size: 2.5rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display:flex;
    justify-self:center;
    width:86vw;
    height:min-content
}
.box-name{
    background-color:#165e76;
    font-size:1.2vw;
    width:42vw;
    margin:0;
    padding: 16px;
}
textarea{
    display:block;
    width:42vw;
    height:80vh;
    resize:none;
    border:none;
    padding-bottom:1rem
}
textarea::selection{
    background-color:#81b2c986
}
.classic-text-box::-webkit-scrollbar,textarea::-webkit-scrollbar{
    width:.9vw
}
body::-webkit-scrollbar{
    width:1.2vw;
    background:linear-gradient(#2d0e5e,#004c84)
}
::-webkit-scrollbar-track{
    background:#c5e2ec;
    border-radius:8px;
    margin-block:10px
}
::-webkit-scrollbar-thumb{
    background:#3e92b1;
    border-radius:100vw
}
textarea[name=Unicode]{
    font-size:20px;
    font-family:'sutonnyOmj',sans-serif;
    padding: 15px;
}
.classic-text-box{
    height:80vh;
    background-color:#fff;
    position:relative;
    overflow-x:hidden;
    overflow-y:auto
}
.myhighlight,div#Classic2{
    font-family:sutonny;
    background-color:transparent
}
textarea[name=Classic]{
    display:block;
    position:absolute;
    margin:0;
    overflow:auto;
    resize:none;
    caret-color:black;
    font-size:20px;
    font-family:sutonny;
    padding: 15px;

}
div#Classic2{
    z-index:3;
    font-size:20px;
    color:transparent;
    white-space:pre-wrap;
    white-space:-moz-pre-wrap;
    white-space:-pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap:break-word
}
div#ClassicBar,div#UnicodeBar{
    position:absolute;
    display:flex;
    overflow:hidden;
    width:6vw;
    transform:translate(34.8vw,-2.2vw);
    font-size:1.2vw
}
div#Classic2 span.eng{
    font-family:'sutonnyOmj',sans-serif;
    font-size:19px;
    color:red;
    background:wheat
}
.myhighlight{
    border-radius:3px;
    line-height:60%;
    display:inline-block;
    border-bottom:3px solid red
}
div#Classic2,textarea[name=Classic],textarea[name=Unicode]{
    outline:0
}
.classic-box,.unicode-box{
    border-radius:8px;;
    overflow:hidden;
    transition:box-shadow .3s ease-in-out
}
.classic-box:focus-within,.unicode-box:focus-within{
    outline:#96c3cd solid 2px;
    box-shadow:0 0 11px #fff
}
[type=reset],input[type=button]{
    display:block
}
input[type=reset]{
    border:none;
    background:0 0;
    font-size:2.5vw;
    color:#fff;
    margin:0;
    line-height:0;
    cursor:pointer
}
div.copy{
    background-color:#8760b9;
    width:min-content;
    border-radius:20px;
    padding:1px .7vw 3px;
    z-index:10;
    cursor:pointer;
    font-family:Mulish,sans-serif
}
div#ClassicBar{
    transition:.2s
}
div#UnicodeBar{
    justify-content:space-between
}
#ClassicBar:hover,#UnicodeBar:hover{
    opacity:1
}
.text-box{
    font-family:'sutonnyOmj',sans-serif;
    font-size:19px;
    width:86vw;
    margin:15px auto;
    padding:30px;
    background:#fbf8d7ba;
    border-radius:8px;
}
a{
    color:#202884
}
a:active{
    color:#2d369c
}
 